* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SpaceRanger';
    src: url('../font/space-ranger/spacerangercond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Beiruti';
    src: url('../font/beiruti/Beiruti-Regular.ttf') format('truetype');
}

header {
    .menu {
        font-family: 'Beiruti';
        list-style: none;
        display: flex;
        gap: 40px;
        color: #ffffff;
        text-align: right;
        margin-left: 30px;
    }

    .logo {
        font-family: 'SpaceRanger';
        color: #ffffff;
        text-align: left;
        font-size: 2rem;
        margin-left: 100px;
        margin-top: 10px;
    
    }
    .principal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000000;
        padding: 20px 20px;
    }
    background-color: black;
}

a, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
    color: #ffffff;
}

.inicio {
    text-align: center;
    margin-top: 50px;
    background-color: #000c24;

    h1 {
        font-family: 'Bebas Neue', sans-serif;
        color: #ffffff;
        text-align: center;
        margin-top: 20px;
    }

    p {
        font-family: 'Beiruti', sans-serif;
        color: #ffffff;
        margin-top: 10px;
        font-size: 1.2rem;
    }

}
