@font-face {
    font-family: 'Beiruti';
    src: url('Beiruti-Regular.eot');
    src: local('Beiruti'), local('Beiruti-Regular'),
        url('Beiruti-Regular.eot?#iefix') format('embedded-opentype'),
        url('Beiruti-Regular.woff2') format('woff2'),
        url('Beiruti-Regular.woff') format('woff'),
        url('Beiruti-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

